{% extends 'base.html' %}
{% block content %}
<h2>Write Up</h2>
  <h4>
  <p>
  This is my submission to the Glints Take Home Interview challenge which is to design a web app that allows users to browse books based on a skill they wish to pick up. It will scrape and pass data from the first page search results for books of a given tag and store it in the database. There is a web interface for the user to browse the system to view the books, the information and biography data of the author, filter books by a category, view books by a specific author. Furthermore, there is an admin interface and  an RESTful API on all models (books, authors, tags) and allows all HTTP methods (GET, POST, PUT, OPTIONS).
  </p>

  <hr>

  <h4>Installation</h4>
{% endblock content %}