/* Base */
img {
  max-width: 100%;
}

/* Sectoins */
.container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  margin-bottom: 0;
  max-width: 100rem;
}

/* navigation */
.navigation  ul {
  list-style: none;
  padding-left: 2rem;
}
.navigation  ul li {
  float: left;
  margin-right: 3rem;
}

/* footer */
.footer .container {
  padding-bottom: 0;
  padding-top: 0;
}

/* header */
.header {
  background-color: #f4f5f6;
  padding-top: 1rem;
}
@media(min-width: 40rem) {
  .header {
    padding-top: 5rem;
  }
}
.header .container {
  position: relative;
  border-top: 0;
  text-align: center;
}
.header .title {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
}
.header.img {
  height: 15rem;
  margin-bottom: 2rem;
}
.header + section {
  border-top: 0;
}
.header .button {
  margin-top: 2rem;
}
@media(min-width: 40rem) {
  .header .button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

/* books list */
.books-list .row {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.books-list .book-image {
  border-radius: 5%;
  height: 20rem;
}
.books-list .book-content {
  flex: 3;
}
.books-list .book-details {
  display: flex;
  align-items: center;
}
.books-list .book-details .book-price {
  font-size: 1.9rem;
  font-weight: bold;
  margin-left: auto;
}
.books-list .book-rating {
 float: right; 
}
.books-list p {
  text-align: justify;
  margin-top: 2.5rem;
}
.books-list .book-author-image {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-right: 1em;
}

/* pagination */
.pagination {
  list-style: none;
  margin: auto;
}
.pagination li {
  float: left;
  margin-right: 3em;
}
.pagination li.current {
  text-decoration: underline;
}

/* tags list */
.tags-list-container .tags-list {
  list-style: none;
}

/* author-detail */
.author-detail {
  display: flex;
}
.author-detail img {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}
.author-detail .bio {
  text-align: justify;
}