{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Glints Interview</title>
  <link rel="stylesheet" href="{% components 'material-design-lite/material.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
    </header>
    <div class="mdl-layout-icon"></div>
      {% block content %}
      
      {% endblock %}
  </div>
  <script src="{% components 'material-design-lite/material.min.js' %}"></script>
</body>
</html>