{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Kaung Htet">
  <title>Glints Interview - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="{% static 'normalize.css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'milligram/dist/milligram.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="/">
            <h1 class="title">Glints Interview</h1>
          </a>
          <div class="row">
            <ul class="nav-list">
              <li><a href="{% url 'book:list' %}">Books</li>
              <li><a href="/api/">API</a></li>
              <li><a href="{% url 'writeup:index' %}">Write Up</a></li>
            </ul>
          <div>
        </section>
      <nav>


      <div class="container main-container">
      {% block content %}
      
      {% endblock %}
      </div>
    </main>
</body>
</html>