{% extends 'base.html' %}

{% block title %}Books{% endblock title %}

{% block content %}

  <div class="row">
    <div class="column">
      <h5 class="title">Available {{ filtered_tags }} Books</h5>
      <p>Here are a list of avilable {{ filtered_tags }} books in the system.</p>
    </div>
  </div>
  <div class="row">
    <div clas="column">

      <div class="container books-list">
        <ul class="books-list">
        {% for book in books %}
          <li class="row">
            <div class="book-image column">
              <a href="{% url 'book:detail' book.pk %}"><img src="{{ book.image }}" class="book-image"></a>
            </div>
            <div class="book-content column">
              <h5><a href="{% url 'book:detail' book.pk %}">{{ book.title|truncatewords:15 }}</a></h5>
              <div class="book-details">
                <a href="{% url 'author:detail' book.author.pk %}"><img class="book-author-image" src="{{ book.author.image }}"></a>
                <a class="book-author" href="{% url 'author:detail' book.author.pk %}">{{ book.author.name }}</a>
                <span class="book-price">&#36; {{ book.price }}</span>
              </div>
              <p>{{ book.description|truncatewords:50 }}</p>
              <div class="book-tags float-left">
                <span>Tags: </span>
                {% for tag in book.tags.all %}
                <span><a href="{% url 'book:list' %}?tags={{ tag.name }}">{{ tag.name }}</a>&nbsp;<span>
                {% endfor %}
              </div>
              <span class="book-rating">Rating: {{ book.rating }} / 5.0</span>
            </div>
          </li>
        {% endfor %}

        </ul>

        {% include 'snippets/pagination.html' %}

      </div>
    </div>
    <div class="column tags-list-container">
      <ul class="column tags-list">
      {% for tag in tags %}
        <li><a href="{% url 'book:list' %}?tags={{ tag.name }}">{{ tag.name }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}